@page "/"

<PageTitle>Index</PageTitle>

<div class="text-center">
	<h1><b>Luca Guagliardo</b></h1>
	<h3>Software and game developer</h3>
</div>


<div class="row">
	<div class="intro-section section  w-50 mx-auto">
		<p>
			Ever since I was a kid, I loved to disassemble and analyze objects to understand how they worked. As I grew up, I discovered my passion for creating software that could satisfy this insatiable curiosity.
		</p>
		<p>
			Today, I'm a skilled software developer proficient in programming languages such as C# and C++, and experienced in game development using Unity. Through my work, I strive to combine my curiosity with creativity to develop innovative solutions and engaging user experiences.
		</p>
	</div>
</div>


<div class="row">
	<div class="past-project-section section  w-50 mx-auto">
		<h2 class="text-center">Past projects</h2>
		<div class="project-card">

			<a href="https://github.com/kemmel-dev/RobotArmVR" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
				<h4>
					Robot Arm VR <i class="fa fa-chain" style="font-size:20px" />
				</h4>
			</a>

			<p>
				In this multidisciplinary project, our team developed a serious game to provide a virtual training environment for the Robot Lab at Amsterdam University of Applied Sciences. The game is designed to help students learn how to control a robot arm and practice the theoretical concepts of the controller without the risk of dangerous situations.
			</p>
			<p>
				The training simulates different modes of operation and teaches students how to interact with the controller to achieve specific tasks. By completing the training, students gain experience with the arm's behavior and learn to respond to its movements. To conclude the training, we added a mini-game that allows students to test their skills in a fun and engaging way.
			</p>
			<div class="text-center">
				<iframe width="795" height="420" src="https://www.youtube.com/embed/oIzACzUwmVM" title="Robotlab VR - Industrial Robot Arm training by team Virtualish" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="open-source-section section  w-50 mx-auto">
		<h2 class="text-center">Open Source Contributions</h2>

		<div class="project-card">
			<a href="https://github.com/novelrt/NovelRT" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
				<h4>
					NovelRT <i class="fa fa-chain" style="font-size:20px" />
				</h4>
			</a>
			<p>NovelRT is an open source C++ game engine designed for creating visual novels and 2D games.</p>
			My contributions focused on:
			<div>
				<ul>
					<li>Documented existing APIs to improve code readability and usability.</li>
					<li>Fixed bugs in the engine.</li>
					<li>Developed and implemented new APIs to expand the engine's capabilities.</li>
				</ul>
			</div>

		</div>

		<div class="project-card">
			<a href="https://github.com/alliedmodders/sourcepawn" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
				<h4>
					SourcePawn <i class="fa fa-chain" style="font-size:20px" />
				</h4>
			</a>
			<p>SourcePawn is a scripting language used for modding game servers running Source games like Team Fortress 2 and Counter Strike: Global Offensive.</p>
			My contributions focused on:
			<div>
				<ul>
					<li>Fixed a bug in the SourcePawn compiler that caused different compilation behavior between Windows and Linux.</li>
					<li>Added new macro definitions to facilitate debugging of scripts.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="ongoing-project-section section  w-50 mx-auto">
		<h2>Ongoing projects</h2>

		<div class="project-card">
			<a href="https://github.com/Pheubel/GameLab-RnD" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
				<h4>
					Noveler scripting language <i class="fa fa-chain" style="font-size:20px" />
				</h4>
			</a>

			<p>
				For my research project, I'm developing a custom scripting language designed to help story writers create branching narratives that can easily integrate with game code. The language will allow writers to specify choices and outcomes within a story, as well as read and write variables to control the story's flow.
			</p>
			<p>
				The project consists of a language specification, a compiler, and a runtime to process the script. Currently, I'm working on setting up the compiler for the first prototype.
			</p>
		</div>

		<div class="project-card">
			<a href="https://github.com/Pheubel/NovelRT/tree/feature/physics" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
				<h4>
					Plugin-based Physics Engine Integration for NovelRT <i class="fa fa-chain" style="font-size:20px" />
				</h4>
			</a>

			<p>
				To enhance the capabilities of the NovelRT engine, I'm developing a plugin-based physics engine integration that will allow the engine to simulate object behavior in a scene. Similar to other parts of the engine, the physics engine should be easily replaceable with another engine using a hotswapping mechanism.
			</p>
			<p>
				In order to achieve this, I researched various physics engines such as Bullet, PhysX, and Box2D, and designed a set of API's for physics engine plugins to implement. These API's will enable the physics engine to simulate objects without leaking implementation details to the developers using NovelRT.
			</p>
		</div>
	</div>
</div>


